apiVersion: v1
kind: Service
metadata:
  name: house-price-prediction
  namespace: default
  labels:
    k8s-app: house-price-prediction
spec:
  ports:
    - name: tcp-8443-80-brlqr
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 31206
  selector: 
    k8s-app: house-price-prediction
  type: LoadBalancer
  sessionAffinity: None
  externalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack     
      
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: house-price-prediction
  namespace: default
  labels:
    k8s-app: house-price-prediction
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: house-price-prediction
  template:
    metadata:
      name: house-price-prediction
      creationTimestamp: null
      labels:
        k8s-app: house-price-prediction
    spec:
      serviceAccountName: default
      containers:
        - name: prediction
          image: dhakadb/prediction:latest
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
          securityContext:
            privileged: false
      restartPolicy: Always
      terminationGracePeriodSeconds: 60
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%